body, html {
	margin:0px;
	padding:0px;
	font-family:Lucida Sans Unicode,Verdana, Sans;
	font-size:0.9em;
}

#main_container, #top_container, #controls_container {
	margin:0px;
	padding:0px;
}

#top_container {
	background-color:#e2ece2;
	border-bottom:solid #ccc 1px;
}

#top_inner_container {
	width:800px;
	height:50px;
}

#controls_container a {
	text-decoration:none;
	color:#1f495c;
}

#controls_container a:hover {
	text-decoration:underline;
}

#bottom_container {
	clear:both;
	border-top:solid #ccc 1px;
	padding-top:10px;
}

#welcome_banner {
	margin:0px;
	padding:0px;
	border:none;
}

#content_container {
	text-align:left;
	margin:0px;
	padding:0px;
	width:700px;
}

#content_inner_container {
	padding:5px;
	margin-left:10px;
	margin-right:10px;
	font-family:Lucida Sans Unicode,Verdana, Sans;
	font-size:0.9em;
}

.info_box {
	float:left;
	width:180px;
	text-align:justify;
	margin:10px;
	padding:5px;
	margin-bottom:20px;
}


.non_constrained_box {
	float:left;
	border:solid 1px #ccc;
	padding:10px;
	clear:none;
	margin:10px;
	text-align:left;
}

h3 {
	font-family:Lucida Sans Unicode,Verdana, Sans;
	font-size: 16px;
	font-variant:small-caps;
	color: #4d9b12;
	margin:5px;
}

#post_container {
	width:100%;
}

#image_container {
}

#info_container {
	padding:15px;
	text-align:left;
	width:300px;
}

a {
	color:#5088a0;
	background:none;
}

a:hover {
	text-decoration:none;
	background:none;
	color:#4d9b12;
}

td {
	padding:3px;
}

a.boardlink {
	font-style:none;
	background:none;
}

table.table_container {
	padding:0px;
	margin:0px;
}

table.table_container td {
	padding:0px;
	margin:0px;
}

.description {
	font-size:8pt;
	color:#888;
}


.members_box {
	width:250px;
	height:80px;
	border:solid 1px #ccc;
	overflow:auto;
	padding:10px;
}

.user_tag {
	padding:2px;
	text-align:center;
	width:48px;
	clear:none;
	float:left;
}

.user_tag img {
	margin:0px;
	padding:0px;
}

.top_box {
	border:solid 1px #ccc;
	padding:0px;
	padding-left:15px;
	padding-right:15px;
	margin:0px;
}

.top_box table {
	margin:0px;
	padding:0px;
}

.top_box td {
	padding:0px;
	margin:0px;
}

.top_box h1 {
	margin:0px;
	padding:0px;
}
