<div align='center'>
<h3>Edit group</h3>

<%= form_for(@group, :action => resource(:groups)) do %>
	<table>
  <%= partial :form, :group => @group %>
	<tr><td></td><td align='left'><%= submit "Update group" %></td></tr>
	</table>
<% end =%>
<b><%= link_to "Back to group", resource(@group) %></b>
</div>
