<div align='center'>
<h3>Create a new group</h3>

<%= form_for(@group, :action => resource(:groups)) do %>
	<table>
  <%= partial :form, :group => @group %>
	<tr><td></td><td align='left'><%= submit "Create group" %></td></tr>
	</table>
<% end =%>
</div>
