<div class="breadcrumbs">
<%= link_to 'Users', resource(:users) %>
</div>

<%= partial :user, :with => @user %>

<% print user_is_user?; print "\n" * 3 %>

<% if user_is_user? then %>
  <div>
  <%= link_to 'Edit', resource(@user, :edit) %>
  <%= delete_button(@user, "Delete #{@user.name}") %>
  </div>
<% end %>
