<p class="snapshot">
  <div class="snapshotdate">
    <%= link_to Boardlog::DateTime.unparse(snapshot.taken_at), url(:whiteboard_snapshot, snapshot.whiteboard, snapshot) %>
  </div>
  <%= image_tag snapshot.image_url, :class => 'snapshotimage' %>
  <div class="snapshotbody">
    <%= snapshot.body_html %>
  </div>
</p>