<div class="breadcrumbs">
<%= link_to 'Whiteboards', resource(:whiteboards) %> ->
<%= link_to @whiteboard.name, resource(@whiteboard) %>
</div>

<%= partial :snapshot, :with => @snapshots %>

<%= link_to 'New', resource(@whiteboard, :snapshots, :new) %>
