<%= partial "shared/whiteboard_header", :with => @whiteboard, :as => :whiteboard %>
<br />

<div align='center'>
<%= partial :snapshot, :with => @snapshot %>
</div>

<%= link_to 'Previous', resource(@whiteboard, @previous) if @previous %>
<%= link_to 'Next', resource(@whiteboard, @next)  if @next %>

