<p class="snapshot">
  <div class="snapshotdate">
    <%= link_to snapshot.taken_at.to_s, url(:whiteboard_snapshot, snapshot.whiteboard, snapshot) %>
  </div>
  <%= image_tag snapshot.image_url, :class => 'snapshotimage' %>
</p>