<div align='center'>
<h3>Create a new whiteboard</h3>

<%= error_messages_for @whiteboard %>

<%= form_for (@whiteboard, :action => resource(:whiteboards)) do %>
  <table>
  <%= partial :form, :whiteboard => @whiteboard %>
  <tr><td></td><td><%= submit "Create" %></td></tr>
  </table>
<% end =%>

</div>
