<%= partial "shared/whiteboard_header", :with => @whiteboard, :as => :whiteboard %>

<h4>Recent Snapshots<h4>
<div>
<%= partial "shared/snapshot_summary", :with => @whiteboard.snapshots(:limit => 10), :as => :snapshot %>
</div>
<%= link_to 'Show All', resource(@whiteboard, :snapshots) %>	  
